<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploaded Successfully</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h3>File Uploaded Successfully!</h3>
        <h3>Uploaded Files:</h3>
        <ul>
            {% for file in uploaded_files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Back to Upload Page</a>
    </div>
</body>
</html>
